services:
  # database service：PostGIS
  db:
    image: postgis/postgis:17-3.5
    container_name: cege0043_postgis
    environment:
      POSTGRES_USER: user101          # usr
      POSTGRES_PASSWORD: password   # pwd
      POSTGRES_DB: ucfscde            # name of database
    ports:
      - "5433:5432"                   # map host port 5433 to container port 5432 (宿主机上已经安装了postgresql默认占用5432，发生冲突所以改成5433)
    volumes:
      - ./db:/docker-entrypoint-initdb.d      # automatically execute .sql/.sh initialization script
      - pgdata:/var/lib/postgresql/data       # data persistence (data will reamin after docker container is removed) remove by `docker volume rm pgdata`
    networks:
      - webgis-network

  # backend services（Express + node.js）
  backend:
    build:
      context: ./backend      
      dockerfile: Dockerfile
      args: 
        NODE_ENV: production    
    container_name: webgis_backend
    environment:
      NODE_ENV: production
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: user101
      DB_PASSWORD: password
      DB_NAME: ucfscde
    ports:
      - "3000:3000"
    volumes:
      - ${VOLUME_MOUNT:-./backend}:/app        # mount volume if specified in env file
      - /app/node_modules                     # prevent overwriting node_modules
    command: node index.js  # default command, can be override by override file
    depends_on:
      - db                   
    networks:
      - webgis-network
    restart: unless-stopped

  # frontend services（Nginx static files）
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile  # if name same as "Dockerfile", this line can be omitted
    container_name: webgis_frontend
    ports:
      - "80:80"
    depends_on:
      - backend               
    networks:
      - webgis-network
    restart: unless-stopped

  # optional：pgAdmin（数据库管理界面）
  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: cege0043_pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
      PGADMIN_CONFIG_SERVER_MODE: 'False'
    ports:
      - "5050:80"
    volumes:
      - pgadmin-data:/var/lib/pgadmin
    depends_on:
      - db
    networks:
      - webgis-network



volumes:
  pgdata:
    # driver: local （this is default, default local driver)
  pgadmin-data:
networks:
  webgis-network:
    driver: bridge
