services:
  backend:
    build:
      args:
        NODE_ENV: development
    environment:
      NODE_ENV: development
    volumes:
      - ./backend:/app
      - /app/node_modules
    command: npx nodemon index.js

  frontend:
    volumes:
      - ./frontend:/usr/share/nginx/html:ro