services:
  db:
    image: postgis/postgis:15-3.4
    container_name: cege0043_postgis
    environment:
      POSTGRES_USER: user101          # ← username
      POSTGRES_PASSWORD: mypassword   # ← set password
      POSTGRES_DB: ucfscde            # ← name of database
    ports:
      - "5432:5432"
    volumes:
      - ./db:/docker-entrypoint-initdb.d  # execute automativly sql files
      - pgdata:/var/lib/postgresql/data
    networks:
      - postgres-network

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: cege0043_pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
      PGADMIN_CONFIG_SERVER_MODE: 'False'
    ports:
      - "5050:80" # 宿主机端口:容器内端口
    volumes:
      - pgadmin-data:/var/lib/pgadmin
    depends_on:
      - db
    networks:
      - postgres-network

volumes:
  pgdata:
  pgadmin-data:

networks:
  postgres-network:
    driver: bridge
